#app[data-theme=dark] {
    --color: #FFF;
    --s-color: #AAA;
    --c-color: #000;
    --bg-color: #282828;
    --bg-c-color: #D7D7D7;
    --bg-d-color: #202020;
    --bg-l-color: #333333;
    --bg-accept-btn: #7BA23F;
    --bg-cancel-btn: #CB4042;

    --team-black: #000;
    --team-purple: #C2C;
    --team-yellow: #CA0;
    --team-red: #C22;
    --team-blue: #22C;
    --team-green: #2A2;
}